/* CSS RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* FIN RESET */

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  background-color: #E8E7ED;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

.banner {
  background-color: #444658;
  width: 100%; 
  height: 76px;
  margin-top: 0;
  
}

.banner_logo {
  color: #FFFFFF;
  font-size: 10px;
  margin-left: 0; 
}

h1 {
  color:#FFFFFF;
  margin-top: 19px; 
  display:flex;
  justify-content:center;
}

h2 {
  font-size:14px;
  margin-bottom: 20px;
  margin-top: 55px;
  display:flex;
  justify-content:center;

}

.login_form,
.signin_form {
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center; 
  font-size: 10px;
}



.kevent_button button {
  margin: 7px; 
  font-size: 10px;
}

.kevent_button a {
  text-decoration: none;
  color:inherit;
  font-size: 10px;
  opacity:60%;
}

.footer {
  font-size: 9px;
  opacity: 60%;
  margin-top:auto;
  display:flex;
  justify-content:center;
  align-items:center;
}

.login_input {
  display:flex;
  justify-content: center;
  margin: 1%;
}

@media only screen and (min-width : 1024px) {
   
 }
